* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: #091921;
  display: flex;
  justify-content: center;
  align-items: center;
}
